.about {
    background-color: rgba(0, 0, 0, 0.986);
}

.title {
    font-size: 2em;
}

.aboutTextPart {
    display: flex;
    align-items: center;
}

.download {
    color: white;
    background-color: blue;
}

.download:hover {
    background-color: transparent;
    color: white;
    border: 1px solid blue;
}

.aboutImagePart img {
    max-width: 70%;
    max-height: auto;
}

.mySkills {
    align-items: center;
    color: #6e6e6e;
    display: flex;
    font-size: 1.7rem;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
}

.rounded-image {
    border: 2px solid #007bff;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; 
    transition: all 1s ease-in-out;
    animation: morphBorder 8s ease-in-out infinite; 
}

@keyframes morphBorder {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      border-color: #6e6e6e; /* Initial border color */
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%; /* Morph border radius */
      border-color: #6e6e6e; /* New border color */
    }
    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      border-color: #6e6e6e; /* Back to initial border color */
    }
  }